html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
    background: bisque;
    height: auto;
    box-shadow: 0 5px 1000px rgba(0,0,0,0.1);
    border: 0;
}

.logo {
    font-family: 'story script', cursive;
}

.navbar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    background: bisque;
}

.nav-links{
    display: flex;
    justify-content: left;
    gap: 30px;
    margin-left: auto;

    list-style: none;

    padding: 20px;
    background: bisque;
    font-size: large;
    font-style: italic;
    
}

.nav-links a{
    color: #2C1C1D;
    /* #d6b138 */
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.nav-links a:hover{
    color: #d6b138;
    transform: scale(1.2);
}

/* slideshow**/
.slideshow{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

#slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(255,255,255,0.5);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

#prev{
    left: 20px;
}

#next{
    right: 20px;
}

/*pasta menu carousel*/

.carousel-container{
    display:flex;
    align-items:center;
    gap:20px;
    max-width:100%;
    overflow:hidden;
}

.carousel{
    display:flex;
    gap:20px;
    padding-bottom: 10px;

    overflow-x:auto;
    scroll-behavior:smooth;
    scroll-snap-type:x mandatory;

    width:100%;
}

.carousel::-webkit-scrollbar{
    display:none;
}

.card{
    min-width:250px;
    scroll-snap-align:start;

    background:white;
    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    flex-shrink:0;
}

.card{
    min-width:250px;

    background:white;
    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    flex-shrink:0;

    transition: 0.5s;
}

.card img{
    width:100%;
    height:180px;

    object-fit:cover;
}

.card h3{
    padding:10px;
}

.card p{
    padding:0 10px 15px;
}

.card:hover {
    transform: scale(1.02);
}