*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#F7E7D3;

    font-family:'DM Sans',sans-serif;

    color:#3A2416;

    overflow-x:hidden;

}

/* nav bar */

.navbar{

    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:92%;
    height:75px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    
    padding:0 40px;
    background:rgba(255,248,240,.85);
    backdrop-filter:blur(5px);
    
    border-radius:20px;
    box-shadow: 0 15px 40px rgba(0,0,0,.12);
    
    z-index:1000;
    transition:.35s;
}

.navbar:hover{

    transform:
    translateX(-50%)
    translateY(-2px);
}

.logo{

    font-family:"Story Script";
    font-size:3rem;
    color:#6b3b20;
}

.nav-links{

    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{

    text-decoration:none;
    color:#3A2416;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{

    color:#C98A3D;
}

/* order button */

.order-btn{

    border:none;
    padding: 14px 24px;
    border-radius:30px;
    background:#C98A3D;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.order-btn:hover{

    transform:translateY(-1px);
}

/* hero image*/

.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 130px 9% 60px;
}

.hero-left{

    width:45%;
}

.hero-left h1{

    font-family:"Playfair Display";
    font-size:4.8rem;
    line-height:1.1;
    margin-bottom:25px;
}

.hero-left p{

    font-size:1.2rem;
    line-height:1.8;
    color:#555;
    width:90%;
}

/* buttons */

.hero-buttons{

    display:flex;
    gap:20px;
    margin-top:40px;
}

.primary{

    padding: 16px 34px;
    border:none;
    border-radius:35px;
    background:#C98A3D;
    color:white;
    cursor:pointer;
}

.secondary{

    padding: 16px 34px;
    border:2px solid #C98A3D;
    background:white;
    border-radius:35px;
    cursor:pointer;
}

.hero-right{

    width:50%;
}

.hero-right img{

    width:100%;
    border-radius:30px;
    box-shadow: 0 30px 70px rgba(0,0,0,.18);
}

/* About */

.about{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 9%;
    gap:80px;
}

.about-images{

    width:50%;
    position:relative;
}

.img-big{

    width:100%;
    border-radius:28px;
    box-shadow: 0 25px 60px rgba(0,0,0,.15);
}

.top{

    position:absolute;
    width:220px;
    top:-40px;
    right:-40px;
    border-radius:20px;
    border:8px solid #F7E7D3;
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
}

.bottom{

    position:absolute;
    width:220px;
    bottom:-40px;
    left:-40px;
    border-radius:20px;
    border:8px solid #F7E7D3;
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
}

.about-content{

    width:45%;
}

.section-tag{

    letter-spacing:3px;
    color:#C98A3D;
    font-size:.9rem;
    font-weight:bold;
}

.about-content h2{

    font-family:"Playfair Display";
    font-size:3.4rem;
    margin: 15px 0 25px;
}

.about-content p{

    font-size:1.1rem;
    line-height:2;
    color:#666;
    margin-bottom:35px;
}

.learn-btn{

    background:#C98A3D;
    color:white;
    border:none;
    padding: 15px 35px;
    border-radius:35px;
    cursor:pointer;
    transition:.35s;
}

.learn-btn:hover{

    transform:translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

/* divider */

.divider{

    width:85%;
    height:1px;
    background:#d9c1a5;
    margin:auto;
}

/* floating beans */

.bean{

    position:absolute;
    width:50px;
    opacity:.6;
}

.bean1{

    top:900px;
    left:80px;
}

.bean2{

    top:1200px;
    right:120px;
}

/* reveal animation */

.reveal{

    opacity:0;
    transform:translateY(80px);
    transition:1s;
}

.reveal.active{

    opacity:1;
    transform:translateY(0);
}

/* popular items */

.popular-section {
    padding: 120px 8%;
    background: #F7E7D3;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header span {
    color: #C98A3D;
    letter-spacing: 4px;
    font-size: .85rem;
    font-weight: 700;
}

.section-header h2 {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    margin: 15px 0;
}

.section-header p {
    color: #777;
    font-size: 1.1rem;
}

.carousel-container {
    position: relative;
}

.carousel {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 15px 5px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 320px;
    background: #FFF9F2;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
    /* box-shadow: 0 15px 35px rgba(0,0,0,.08); */
    transition: .35s;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 10px 20px rgba(0,0,0,.18);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .4s;
}

.card-content {
    padding: 25px;
}

.card-content h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-content p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    color: #E5A100;
}

.price {
    color: #6B3B20;
    font-size: 1.4rem;
    font-weight: bold;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}

.carousel-nav:hover {
    background: #C98A3D;
    color: white;
}

#left {
    left: -25px;
}

#right {
    right: -25px;
}

.menu-btn {
    display: block;
    width: fit-content;
    margin: 70px auto 0;
    padding: 18px 36px;
    background: #C98A3D;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: .35s;
}

.menu-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

